@using GeoLocation.Web.Models
@model AddViewModel

<div class="form-container">
    @using (Html.BeginForm("Add", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group col-md-12">
            <label asp-for="NewEvent.Name">Ime</label>
            <input class="form-control" type="text" asp-for="NewEvent.Name" placeholder="Unesite ime događaja" required />
        </div>

        <div class="form-group col-md-12">
            <label asp-for="NewEvent.Description">Opis</label>
            <textarea class="form-control" type="text" asp-for="NewEvent.Description" placeholder="Unesite opis" required></textarea>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="NewEvent.EntryFee">Cijena</label>
                <input class="form-control" type="number" step="0.01" asp-for="NewEvent.EntryFee" placeholder="Unesite cijenu" required />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="NewEvent.LimitedSpace">Broj mjesta</label>
                <input class="form-control" type="number" asp-for="NewEvent.LimitedSpace" placeholder="Unesite broj mjesta" required />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="NewEvent.Organizer">Organizator</label>
                <input class="form-control" type="text" asp-for="NewEvent.Organizer" placeholder="Unesite ime organizatora" required />
            </div>
            <div class="form-group col-md-6">
                @await Html.PartialAsync("VenueSelectPartial", Model)
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="NewEvent.StartDate">Početak</label>
                <input class="form-control" type="datetime" asp-for="NewEvent.StartDate" placeholder="Unesite datum i vrijeme početka" required />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="NewEvent.EndDate">Kraj</label>
                <input class="form-control" type="datetime" asp-for="NewEvent.EndDate" placeholder="Unesite datum i vrijeme završetka" required />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="NewEvent.Lat">Latitude</label>
                <input class="form-control" type="number" step="any" asp-for="NewEvent.Lat" required />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="NewEvent.Long">Longitude</label>
                <input class="form-control" type="number" step="any" asp-for="NewEvent.Long" required />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                @await Html.PartialAsync("EventCategorySelectPartial", Model)
            </div>
            <div class="form-group col-md-6">
                @await Html.PartialAsync("EventSubCategorySelectPartial", Model)
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="Image">Slika</label>
                <input class="form-control" type="file" asp-for="Image" accept="image/*"/>
            </div>
        </div>

        <input type="submit" value="Stvori događaj" class="submit-button" style="margin-left: 15px"/>
     }
</div>