@using GeoLocation.Web.Models
@model AddViewModel

<div class="panel panel-default">
    <div class="panel-heading">
        Add a new event
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Add", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <label asp-for="NewEvent.Name">Name</label>
            <input type="text" asp-for="NewEvent.Name" required />
            <br />

            <label asp-for="NewEvent.Description">Description</label>
            <input type="text" asp-for="NewEvent.Description" required />
            <br />

            <label asp-for="NewEvent.EntryFee">Entry Fee</label>
            <input type="number" step="0.01" asp-for="NewEvent.EntryFee" required />
            <br />

            <label asp-for="NewEvent.LimitedSpace">Visitor limitation</label>
            <input type="number" asp-for="NewEvent.LimitedSpace" required />
            <br />

            <label asp-for="NewEvent.Organizer">Organizer</label>
            <input type="text" asp-for="NewEvent.Organizer" required />
            <br />

            <label asp-for="NewEvent.Lat">Latitude</label>
            <input type="number" step="any" asp-for="NewEvent.Lat" required />
            <br />

            <label asp-for="NewEvent.Long">Longitude</label>
            <input type="number" step="any" asp-for="NewEvent.Long" required />
            <br />

            <label asp-for="NewEvent.StartDate">Start Date</label>
            <input type="text" asp-for="NewEvent.StartDate" required />
            <br />

            <label asp-for="NewEvent.EndDate">End Date</label>
            <input type="datetime" asp-for="NewEvent.EndDate" required />
            <br />

            @await Html.PartialAsync("EventCategorySelectPartial", Model);

            @await Html.PartialAsync("EventSubCategorySelectPartial", Model);

            @await Html.PartialAsync("VenueSelectPartial", Model);

            <label asp-for="Image">Image</label>
            <input type="file" asp-for="Image" />
            <br />

            <input type="submit" value="Submit" />
        }
    </div>
</div>