@using GeoLocation.Model;
@model AddViewModel

<label asp-for="NewEvent.EventSubCategoryId">Event Subcategory</label>
<select asp-for="NewEvent.EventSubCategoryId" required>
    <option value="" disabled selected>Select a subcategory</option>
    @foreach (var subCategory in Model.SubCategories)
    {
        <option value='@subCategory.Id'>@subCategory.Name</option>
    }
</select>
<br />