@using GeoLocation.Model;
@model AddViewModel

<label asp-for="NewEvent.EventCategoryId">Event Category</label>
<select asp-for="NewEvent.EventCategoryId" required>
    <option value="" disabled selected>Select a category</option>
    @foreach (var category in Model.Categories)
    {
        <option value='@category.Id'>@category.Name</option>
    }
</select>
<br />
