@using GeoLocation.Model;
@model AddViewModel

<label asp-for="NewEvent.VenueId">Venue</label>
<select asp-for="NewEvent.VenueId" required>
    <option value="" disabled selected>Select a venue</option>
    @foreach (var venue in Model.Venues)
    {
        <option value='@venue.Id'>@venue.Name</option>
    }
</select>
<br />